{% extends 'site/layout.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block app_cart %}{% endblock %}
{% block app_mobile_cart %}{% endblock %}

{% block app_navbar_second %}
    {% if is_mobile() %}
        <div class="jumbotron mobile color-primary d-block d-lg-none">
            <div class="d-flex align-items-center h-100">
                <div class="container text-center mx-3">
                    {% block app_mobile_search_form %}
                        {{ render(controller('App\\Controller\\SearchController::indexM')) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block app_breadcrumbs %}
    <div class="pt-md-0 mt-page-n">
        {{ breadcrumb('À propos de nous') }}
        {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
            itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
    </div>
{% endblock %}

{% block app_body %}
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-12 col-md-8 col-lg-9">
            {% include 'site/pages/env/_content.html.twig' %}
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <section>
                <div class="card">
                    <div class="card-body small">
                        <p class="">
                            Le site <span class="font-weight-stone-600 amber-text">oblackmarket.com</span>
                            est édité par: <br>
                            <a href="" class="font-weight-stone-600 text-primary">Octaix labs</a>,
                            micro-entreprise située à Yamoussoukro (Côte d'Ivoire) dont le SIRET est le 52831242400013.
                        </p>

                        <p>
                            Le <span class="font-weight-stone-600 text-default">Directeur de Publication</span> est
                            <span class="font-weight-stone-600 text-default">Stéphane Kouamé</span>.
                        </p>

                        <p>
                            Le site <span class="font-weight-stone-600 amber-text">oblackmarket.com</span>
                            est hébergé par:
                            <a href="https://www.a-a-hebergement.com/" class="link font-weight-stone-600" target="_blank">a-a-hebergement, </a>
                            dont le siège social est établi
                            <span class="font-weight-stone-600 text-primary">10 rue Penthièvre, 75008 PARIS FRANCE</span>.
                        </p>

                        <p class="text-center mt-4 mb-0">
                            <a href="{{ path('app_contact') }}" class="btn btn-primary btn-sm">Nous contacter</a>
                        </p>
                    </div>
                </div>
            </section>

            <section class="mt-4">
                <div class="card card-cascade">
                    <div class="view view-cascade gradient-card-header bg-primary pt-2 pb-2">
                        <div class="card-header-title">Suivez {{ settings.name }}</div>
                    </div>
                    <div class="card-body card-body-cascade pt-3 pb-3">
                        <div class="social-section">
                            {% if settings.facebookAddress %}
                                <a target="_blank" href="{{ settings.facebookAddress }}" class="btn-floating btn-fb btn-sm mb-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            {% endif %}

                            {% if settings.twitterAddress %}
                                <a target="_blank" href="{{ settings.twitterAddress }}" class="btn-floating btn-tw btn-sm mx-1 mb-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            {% endif %}

                            {% if settings.youtubeAddress %}
                                <a target="_blank" href="{{ settings.youtubeAddress }}" class="btn-floating btn-yt btn-sm mx-1 mb-1">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            {% endif %}

                            {% if settings.instagramAddress %}
                                <a target="_blank" href="{{ settings.instagramAddress }}" class="btn-floating btn-ins btn-sm mx-1 mb-1">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            {% endif %}

                            {% if settings.linkedinAddress %}
                                <a target="_blank" href="{{ settings.linkedinAddress }}" class="btn-floating btn-li btn-sm mb-1">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="my-4">
                <div class="card">
                    <div class="card-body small">
                        <h4 class="h4-responsive text-primary font-weight-stone-600 ">
                            Agence de création du Site Internet
                        </h4>
                        <div class="text-uppercase font-weight-stone-600">Octaix labs</div>
                        <div>Habitat, Yamoussoukro (Côte d'Ivoire)</div>
                        <div>Tel: (+225) 07 77 06 15 69 </div>
                        <div>Email: contact@octaix.com ou kksteph1989@gmail.com</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

