<section>
    <div class="card">
        <div class="card-body">
            <h2 class="h2-responsive font-weight-stone-600 mb-3">Politique de confidentialité</h2>
            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Généralités
            </h4>
            <p>
                La présente <span class="text-primary">politique de confidentialité</span> décrit le règlement
                de {{ settings.name }} concernant la collecte, l'utilisation, le stockage, la diffusion et la
                protection de vos renseignements personnels (la «Politique de confidentialité»). <br><br>

                <span class="font-weight-stone-600 text-primary">Portée et consentement:</span> En utilisant
                {{ settings.name }} et les services connexes, vous consentez expressément à la collecte, à
                l'utilisation, à la divulgation et à la conservation de vos renseignements personnels par {{ settings.name }},
                conformément à la présente Politique de confidentialité et à nos conditions d'utilisation. <br><br>

                {{ settings.name }} peut modifier la présente <span class="text-primary">politique de confidentialité</span>
                de temps en temps. Nous vous conseillons de le consulter régulièrement. Les changements majeurs apportés
                à notre <span class="text-primary">politique de confidentialité</span> seront annoncés sur notre site Web.
                La <span class="text-primary">politique de confidentialité</span> modifiée entrera en vigueur immédiatement
                après sa première publication sur notre site Web.
            </p>

            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Renseignements personnels que nous recueillons
            </h4>
            <p>
                Vous pouvez consulter notre site web sans ouvrir de compte. Si vous décidez de nous fournir vos
                renseignements personnels, vous acceptez que cette information soit transmise et conservée sur
                nos serveurs. Nous recueillons les renseignements personnels suivants: <br><br>

                Informations que nous recueillons automatiquement: Lorsque vous consultez notre site web,
                utilisez nos services ou interagissez avec nos publicités ou notre contenu, nous recueillons
                automatiquement les données qui nous sont transmises par votre ordinateur, votre appareil
                mobile ou vos autres appareils d'accès. Ces informations incluent, sans toutefois s'y limiter: <br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> l'information de votre interaction avec notre
                site web et nos services, y compris, sans toutefois s'y limiter, l'identifiant de l'appareil, le type
                d'appareil, les données d'emplacement, les informations sur l'ordinateur et la connexion, les
                statistiques de consultation des pages, le trafic vers www.oblackmarket.com ou depuis celui-ci,
                l'URL de référence, les données de publicité, l'adresse IP et les informations de consignation web
                standards;<br>
                <i class="fas fa-hand-point-right text-secondary"></i> les informations recueillies par nos témoins,
                nos repères Web et autres outils similaires. <br>
                <span class="text-primary font-weight-stone-600">Informations que vous nous fournissez:</span> Nous
                recueillons et stockons toutes les informations que vous saisissez sur notre site Web ou que vous nous
                fournissez lorsque vous utilisez nos services. Ces informations incluent, sans toutefois s'y limiter:
                <br><br>

                <i class="fas fa-hand-point-right text-secondary"></i> l'information que vous nous fournissez lorsque
                vous ouvrez un compte ou que vous vous inscrivez à un service; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> les informations supplémentaires que vous
                pourriez nous fournir par le biais des sites de médias sociaux ou les services tiers; <br>
                <i class="fas fa-hand-point-right text-secondary"></i> les informations fournies dans le contexte de
                la résolution de litiges, de correspondances sur notre site ou de correspondances à notre intention;<br>
                <i class="fas fa-hand-point-right text-secondary"></i> les informations concernant votre emplacement
                et celui de votre appareil, y compris l'identifiant unique de ce dernier si vous avez activé ce service
                sur votre appareil mobile; <br><br>
                <span class="font-weight-stone-600 text-primary"></span> Nous pouvons recevoir ou recueillir d'autres
                informations à votre sujet auprès de tiers et les ajouter à vos informations de compte.
                Ces informations incluent, sans toutefois s'y limiter: des données démographiques, des données de
                navigation, des coordonnées supplémentaires et des données supplémentaires à votre sujet provenant
                d'autres sources, telles que les autorités publiques, dans la mesure permise par la loi.
            </p>

            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Renseignements personnels que nous recueillons
            </h4>
            <p>
                Vous acceptez que nous puissions utiliser vos renseignements personnels aux fins suivantes: <br><br>

                <span class="font-weight-stone-600 text-primary"></span> vous donner accès à nos services et à
                notre service de soutien à la clientèle par courriel ou par téléphone; <br>
                <span class="font-weight-stone-600 text-primary"></span> prévenir, détecter et étudier les activités
                potentiellement interdites ou illégales, les fraudes et les intrusions et assurer le respect de nos
                conditions d'utilisation;<br>
                <span class="font-weight-stone-600 text-primary"></span> personnaliser, évaluer et améliorer nos services,
                notre contenu et nos publicités;<br>
                <span class="font-weight-stone-600 text-primary"></span> vous contacter par courriel, par notification poussée,
                par message texte (SMS) ou par téléphone, vous poser des questions sur nos services;<br>
            </p>

            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Fins commerciales
            </h4>
            <p>
                Vous acceptez que nous puissions utiliser l'information que nous avons recueillie afin de vous
                envoyer des offres, qu'elles soient personnalisées ou non, ou de communiquer avec vous par
                téléphone au sujet des produits ou des services offerts par {{ settings.name }}. <br><br>

                Nous ne vendons pas et ne louons pas vos informations personnelles à des tiers à des fins
                commerciales sans votre autorisation expresse. Nous pouvons combiner vos renseignements avec
                les données que nous obtenons auprès d'autres entreprises afin d'améliorer et de personnaliser
                nos services et nos fonctionnalités. <br><br>
            </p>

            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Cookies
            </h4>
            <p>
                Lorsque vous utilisez nos services, nos fournisseurs de services et nous-mêmes pouvons placer
                des cookies (des fichiers de données sur votre téléphone ou votre appareil mobile), des repères
                Web (des images électroniques ajoutées au code d'une page zeb) ou des outils similaires. <br>
                Nous utilisons les cookies afin de vous identifier en tant qu'utilisateur, de vous offrir une
                meilleure expérience sur notre site web, de mesurer l'efficacité de nos promotions et d'assurer
                le respect des règlements et la sécurité sur notre site web.
            </p>

            <h4 class="h4-responsive font-weight-stone-600 mb-3">
                Protection et conservation de vos renseignements personnels
            </h4>
            <p>
                Nous protégeons vos renseignements à l'aide de mesures de sécurité techniques et administratives
                (notamment les coupe-feu, le chiffrement des données et le contrôle physique et administratif de
                l'accès aux données et aux serveurs) qui limitent les risques de perte, d'abus, d'accès non autorisé,
                de divulgation et de modification. Néanmoins, si vous pensez que votre compte a fait l'objet d'un abus,
                veuillez communiquer avec nous au moyen du
                <a href="{{ path('app_contact') }}" class="link">formulaire de prise de contact</a> <br><br>.
            </p>
        </div>
    </div>
</section>


