{% import 'Ui/Macro/buttons.html.twig' as buttons %}

<div class="row mb-5">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div class="mr-3 d-none entity-vignette-list-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            <div class="">
                {% include 'admin/vignetteList/filter.html.twig' with {'form': searchForm}  %}
            </div>
            <div class="mr-3">
                <a href="" class="btn btn-grey" data-toggle="modal" data-target="#entity-search">
                    <i class="fas fa-filter mr-1" aria-hidden="true"></i> Filtres
                </a>
            </div>
        </div>
    </div>
</div>

{% if vignettes|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox" style="padding-left: 0!important;"></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Reference</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Enseigne</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Date de debut</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Date de fin</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Catégorie</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Image</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Status</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for vignette in vignettes %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ vignette.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center font-weight-stone-500 small-9">{{ vignette.reference }}</td>
                        <td class="text-center">{{ vignette.societyName }}</td>
                        <td class="text-center">{{ vignette.startDate|date('d/m/Y') }}</td>
                        <td class="text-center">{{ vignette.endDate|date('d/m/Y') }}</td>
                        <td class="text-center">{{ vignette.category }}</td>
                        <td class="text-center font-weight-stone-500 text-default">
                            {% if vich_uploader_asset(vignette, 'file') %}
                                <img src="{{ vich_uploader_asset(vignette, 'file') }}" class="img-fluid table-img" alt="" />
                            {% else %}
                                <span class="badge badge-grey">Aucun</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if vignette.enabled %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Actif
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Inactif
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_vignette_list_show', {'id': vignette.id, 'type': type}) }}" class="dropdown-item">
                                        <i class="fas fa-eye mr-1"></i> Voir
                                    </a>
                                    <a class="dropdown-item entity-vignette-list-delete" id="{{ vignette.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ vignettes.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            {{ knp_pagination_render(vignettes, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="text-primary h3-responsive font-weight-stone-600">
                Vous n'avez aucune vignette.
            </h3>
        </div>
    </div>
{% endif %}
