{% if advert.images|length > 0 %}
    {% set photo_principale = app_advert_photo(advert.images) %}
    <div id="mdb-lightbox-ui"></div>

    {% if is_mobile() %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="mdb-lightbox mt-4 pl-2">
                    <div class="row">
                        {% dump(photo_principale) %}
                        <figure class="col-12 principale">
                            <a href="{{ image_ad_url(photo_principale, 1400, 1067) }}" data-size="1400x1067">
                                <img id="principale" src="{{ image_ad_url(photo_principale, 1400, 1067) }}"
                                     class="img-fluid" alt="{{ photo_principale.name }}" />
                            </a>
                        </figure>

                        {% for image in advert.images %}
                            {% if image != photo_principale %}
                                {% dump(image) %}
                                <figure class="col-md-3 d-none">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img {% if loop.index == 2 %}id="img-plus"{% endif %}
                                             src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mdb-lightbox mt-lg-4 pl-2 pl-lg-0 pr-2">
                    <figure class="col-6 col-md-3 children">
                        <a href="{{ image_ad_url(photo_principale, 1400, 1067) }}" data-size="1400x1067">
                            <img src="{{ image_ad_url(photo_principale, 1400, 1067) }}" class="img-fluid z-depth-3" alt="{{ photo_principale.name }}" />
                        </a>
                    </figure>
                    {% for key, image in advert.images %}
                        {% if image != photo_principale %}
                            {% if key <= 2 %}
                                <figure class="col-6 col-md-3 children">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid z-depth-3" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% else %}
                                <figure class="col-6 col-md-3 d-none">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if advert.images|length > 2 %}
                        <div id="lightbox-plus" class="col-6 col-md-3 lightbox-plus d-flex mt-2">
                            <div class="text font-weight-stone-600">
                                {{ advert.images|length }} photos <br> disponibles
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-angle-right ml-2"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-10">
                <div class="mdb-lightbox mt-4 pl-2">
                    <div class="row">
                        <figure class="col-md-12 principale">
                            <a href="{{ image_ad_url(photo_principale, 1400, 1067) }}" data-size="1400x1067">
                                <img id="principale" src="{{ image_ad_url(photo_principale, 1400, 1067) }}"
                                     class="img-fluid" alt="{{ photo_principale.name }}" />
                            </a>
                        </figure>
                        {% for image in advert.images %}
                            {% if image != photo_principale %}
                                <figure class="col-md-3 d-none">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img {% if loop.index == 4 %}id="img-plus"{% endif %}
                                             src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row mdb-lightbox mt-lg-4 pl-2 pl-lg-0 pr-2">
                    <figure class="col-md-12 children">
                        <a href="{{ image_ad_url(photo_principale, 1400, 1067) }}" data-size="1400x1067">
                            <img src="{{ image_ad_url(photo_principale, 1400, 1067) }}" class="img-fluid z-depth-3" alt="{{ photo_principale.name }}" />
                        </a>
                    </figure>
                    {% for key, image in advert.images %}
                        {% if image != photo_principale %}
                            {% if key <= 2 %}
                                <figure class="col-lg-12 children">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid z-depth-3" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% else %}
                                <figure class="col-lg-12 d-none">
                                    <a href="{{ image_ad_url(image, 1400, 1067) }}" data-size="1400x1067">
                                        <img src="{{ image_ad_url(image, 1400, 1067) }}" class="img-fluid" alt="{{ image.name }}" />
                                    </a>
                                </figure>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if advert.images|length > 3 %}
                    <div class="row">
                        <div id="lightbox-plus" class="col-lg-12 lightbox-plus d-flex mt-2">
                            <div class="text">
                                {{ advert.images|length }} photos <br> disponibles
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-angle-right ml-2"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="card card-image text-center d-flex justify-content-center align-items-center"
         style="background-image: url({{ asset('images/no_image.jpg') }});">
    </div>
{% endif %}





