<section class="row show-header mx-1 mx-md-2 mx-lg-0 mb-3 mb-md-4 px-1 px-md-2 pt-2 z-depth-2 bg-white">
    <div class="col-12 col-md-8 col-lg-9">
        <h4 class="h4-responsive font-weight-stone-600 mb-0 mb-md-1" style="line-height: normal!important;">{{ advert.title }}</h4>
        <h5 class="h5-responsive font-weight-stone-600 price d-flex justify-content-start pt-0 pt-md-0 text-default">
            <div class="number">
                {{ advert.price }}<span class="d-inline-block">CFA</span>
            </div>

            {#<div class="">
                <img src="{{ asset('images/devise.png') }}" class="devise" alt="">
                {% if advert.priceStatus %}<span class="font-weight-stone-500 small"
                    style="position: relative; top: 5px">- à débattre</span>{% endif %}
            </div>#}
        </h5>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="d-flex justify-content-md-end data pt-md-0 pb-2 pb-md-0 pr-md-0 mr-md-0">
            <div class="pr-md-2 pr-1 text-primary data-icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="location">
                <div class="grey-text time font-weight-stone-500">Publiée {{ advert.validatedAt|ago }}</div>
                <div class="small-9 font-weight-stone-500 mt-1 text-primary">
                    {% if advert.location.detail %}{{ advert.location.detail }},{% endif %} {{ advert.location.name }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-md-8">
        <section class="row">
            <div class="col-12">
                {% include 'site/advert/show/_gestion.html.twig' %}
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                {% include 'site/advert/show/_images.html.twig' %}
            </div>
        </section>
        <section class="row mt-lg-3 mb-4 advert-info-detail">
            <div class="col-12">
                {% include 'site/advert/show/_detail.html.twig' %}
            </div>
        </section>
        <section class="row mb-5">
            <div class="col-12">
                <h4 class="h4-responsive font-weight-stone-600 text-primary mb-2">Description</h4>
                <div>{{ advert.description }}</div>
                <div class="mt-3 font-weight-stone-600 small black-text">
                    <span class="">RÉFÉRENCE:</span>
                    <span class="">{{ advert.reference}}</span>
                    - <span class="">Dernière mise à jour:</span>
                    <span class="">{{ advert.updatedAt|date('d/m/Y à h:i')}}</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-between">
                {% if not is_granted('create', advert) %}
                    <div class="mt-1">
                        <a href="" class="small signal font-weight-stone-600 text-default"
                           data-toggle="modal" data-target="#addReportModalSm">
                            <span class="border rounded-circle mr-1" style="padding: 5px;">
                                <i class="fas fa-flag" style="position: relative; left: 2px"></i>
                            </span>
                            Signalez cette annonce
                        </a>
                    </div>
                {% endif %}

                {% if is_mobile() %}
                    <div class="d-block d-md-none app-signal mt-3">
                        <a href="" class="btn btn-outline-amber signal app-ad-print">
                            <i class="fas fa-print"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="row mb-4 noPrint">
            <div class="col-12">
                {{ render(controller('App\\Controller\\AdvertSimilarController::index', {'advert': advert, 'settings': settings})) }}
            </div>
        </section>
    </div>
    <div class="col-md-4 mt-3">
        {% include 'site/advert/show/_advertiser.html.twig' %}
    </div>
</section>
{% if is_mobile() and not is_granted('create', advert) %}
    <div class="navbar fixed-bottom d-block d-md-none py-2"
         style="background-color: #0032FF; border-top-right-radius: 40px; border-top-left-radius: 40px;">
        <div class="d-flex">
            <a href="" class="btn btn-outline-white btn-sm mr-2 pt-3 pb-2" data-toggle="modal" data-target="#addPhoneContactModalSm">
                <i class="fas fa-phone-alt" style="font-size: 1rem; position:relative; bottom: 3px;"></i>
            </a>

            {% if settings.activeMessage %}
                <a href="#app-advert-message-form" class="btn btn-white text-primary btn-block btn-sm pt-3 pb-2"
                   style="font-size: 1.1rem !important;">
                    <i class="fas fa-envelope mr-2"></i> Message
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}


