<div class="row">
    <div class="field-group col-12">
        <fieldset>
            <div class="row">
                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeVoyance) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeVoyance) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeVoyance) }}</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeSoins) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeSoins) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeSoins) }}</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeTemoignages) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeTemoignages) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeTemoignages) }}</span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeShop) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeShop) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeShop) }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeBlog) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeBlog) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeBlog) }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group field-text">
                        {{ form_label(form.activeRencontre) }}
                        <div class="form-widget">
                            {{ form_widget(form.activeRencontre) }}
                        </div>
                        <span class="error-message">{{ form_errors(form.activeRencontre) }}</span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>



