{% macro list(advert, settings) %}
    {% set photo_principale = app_advert_photo(advert.images) %}

    {% if advert.subDivision|length > 0 %}
        {% set route = path('app_advert_show', {'category_slug': advert.category.slug, 'sub_category_slug': advert.subCategory.slug,
            'sub_division_slug': advert.subDivision.slug, 'city': advert.location.name,
            'reference': advert.reference, 'slug': advert.slug}) %}
    {% else %}
        {% set route = path('app_advert_show_s', {'category_slug': advert.category.slug, 'sub_category_slug': advert.subCategory.slug,
            'city': advert.location.name, 'reference': advert.reference, 'slug': advert.slug}) %}
    {% endif %}

    <div class="card card-cascade narrower mb-4 mb-md-4 z-depth-1">
        <div class="view view-cascade overlay bg-white">
            {% if photo_principale %}
                <img class="card-img-top" src="{{ image_ad_url(photo_principale, 200, 130) }}" alt="{{ photo_principale.name }}" />
            {% else %}
                <img class="card-img-top" src="{{ asset('images/no_photo.png') }}"  alt="" />
            {% endif %}
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade pb-2 px-3">
            <h5 class="font-weight-stone-600 mb-2 h5-responsive">
                {% if advert.subDivision %}{{ advert.subDivision }}
                {% else %}{{ advert.subCategory }}
                {% endif %}
            </h5>
            <p class="card-text small-9">
                {{ advert.description|u.truncate(100, ' ...') }}
            </p>
            <div class="my-2">
                <div class="small grey-text">
                    <i class="far fa-clock"></i> {{ advert.validatedAt|ago }} | <i class="fas fa-map-marker-alt"></i> {{ advert.location.name }}
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="font-weight-stone-500 d-flex price text-default">
                    <div class="number font-weight-stone-600">
                        {{ advert.price }}<span class="small-9" style="margin-left: 2px;">CFA</span>
                    </div>
                </div>
                <div class="">
                    <a href="{{ route }}" class="btn btn-primary btn-sm advert-show">Voir</a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

