{# Annonce #}
<section class="row">
    <div class="col-12">
        <h3 class="h3-responsive font-weight-stone-600 text-primary">Annonces</h3>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a href="{{ path('app_admin_advert_index', {'type': 1}) }}" type="button"  class="btn-floating btn-lg amber ml-4"><i class="fas fa-clipboard" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ adNotValide }}</h5>
                    <p class="font-small grey-text">Annonces en attente de validation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a href="{{ path('app_admin_advert_index', {'type': 2}) }}" type="button" class="btn-floating btn-lg success-color ml-4"><i class="fas fa-clipboard-check" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ adValide }}</h5>
                    <p class="font-small grey-text">Annonces validées</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a href="{{ path('app_admin_advert_index', {'type': 4}) }}" type="button" class="btn-floating btn-lg danger-color ml-4"><i class="fas fa-clipboard-list" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ adDeleted }}</h5>
                    <p class="font-small grey-text">Annonces retirées</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a href="{{ path('app_admin_advert_index', {'type': 5}) }}" type="button" class="btn-floating btn-lg default-color ml-4"><i class="far fa-clipboard" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ adExpired }}</h5>
                    <p class="font-small grey-text">Annonces expirées</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row mb-4">
            <div class="col-lg-3 col-md-6 col-12 mb-3">
                <a href="" class="btn btn-grey btn-block btn-md advert-clean"
                   style="line-height: 20px !important;" data-type="1">
                    <i class="fas fa-trash mr-1"></i>
                    Supprimer annonces refusées
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-3">
                <a href="" class="btn btn-danger btn-block btn-md advert-clean"
                   style="line-height: 20px !important;" data-type="3">
                    <i class="fas fa-trash mr-1"></i>
                    Supprimer annonces retirées
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-3">
                <a href="" class="btn btn-outline-default btn-block btn-md advert-clean"
                   style="line-height: 20px !important;" data-type="2">
                    <i class="fas fa-trash mr-1"></i>
                    Supprimer annonces expirées
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-3">
                <a href="" id="advert-reload" class="btn btn-default btn-block btn-md"
                   style="line-height: 20px !important;">
                    Relancer annonces expirées <i class="fas fa-sync ml-1"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{# Annonce #}

{# Utilisateur, avis, commande #}
<section class="row">
    <div class="col-12">
        <h3 class="h3-responsive font-weight-stone-600 text-primary mt-3">Utilisateurs, avis, commandes, ...</h3>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg bg-primary ml-4"><i class="fas fa-users" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ users }}</h5>
                    <p class="font-small grey-text">Utilisateur(s)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg success-color-dark ml-4"><i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ orders }}</h5>
                    <p class="font-small grey-text">Commande payée</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-4 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg elegant-color ml-4"><i class="fas fa-comments" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-8 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold dark-grey-text">{{ reviews }}</h5>
                    <p class="font-small grey-text">Avis</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="row mt-3">
                <div class="col-md-5 col-5 text-left pl-4">
                    <a type="button" class="btn-floating btn-lg purple ml-4"><i class="fas fa-comments" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-7 text-right pr-5">
                    <h5 class="ml-4 mt-4 mb-2 font-weight-bold">{{ suggestions }}</h5>
                    <p class="font-small grey-text">Suggestions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title h4-responsive text-center text-primary">Nouveaux utilisateurs</h4>
                <div class="">
                    {% if lastClients|length > 0 %}
                        <ul class="list-group list-group-flush px-0">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="font-weight-600 grey-text">
                                    Nom
                                </div>
                                <div class=""></div>
                            </li>

                            {% for user in lastClients %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <div class="">{{ user }}</div>
                                        <div class="small grey-text font-weight-500">{{ user.email }}</div>
                                    </div>
                                    <div class="">
                                        <a href="{{ path('app_admin_user_show', {'id': user.id, 'type': 1}) }}" class="btn btn-grey btn-sm">
                                            <i class="fas fa-eye mr-1"></i> Lister
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="grey-text text-center mt-4 mb-3">Aucun client pour le moment</div>
                    {% endif %}
                </div>
                <div class="text-center">
                    <a id="user-clean" href="" class="btn btn-danger user-clean mt-4"> <i class="fas fa-trash mr-1"></i> Supprimer les comptes retirés</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title h4-responsive text-primary text-center">Nouvelles commandes validées</h4>

                {% if lastOrders|length > 0 %}
                    <table class="table table-responsive-md btn-table">
                        <thead>
                        <tr>
                            <th class="font-weight-600 grey-text">Commande</th>
                            <th class="font-weight-600 grey-text">Produits</th>
                            <th class="font-weight-600 grey-text">Total</th>
                            <th class="font-weight-600 grey-text"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in lastOrders %}
                            <tr>
                                <th scope="row">
                                    <div class="">{{ payment.order.user }}</div>
                                    <div class="small grey-text font-weight-500">{{ payment.order.user.email }}</div>
                                </th>
                                <td>{{ payment.order.items|length }}</td>
                                <td>{{ payment.price }} CFA</td>
                                <td>
                                    <a href="{{ path('app_admin_order_show', {'id': payment.order.id}) }}" class="btn btn-grey btn-sm m-0">
                                        <i class="fas fa-eye mr-1"></i> Lister
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center grey-text mt-4 mb-3">Aucune commande pour le moment</div>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title h4-responsive text-primary text-center">Commandes validées 30 derniers jours</h4>
                <div class="my-4 px-2">
                    <canvas id="orderDailyLineChart" style="width: 100% !important; height: 375px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title h4-responsive text-primary text-center">Commandes validées 24 derniers mois</h4>
                <div class="my-4 px-2">
                    <canvas id="orderMonthlyLineChart" style="width: 100% !important; height: 375px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4 mb-5">
    <div class="row">
        <div class="col-12 col-lg-6">
            {% include 'admin/dashboard/_report.html.twig' %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title h4-responsive text-primary text-center mb-4">Actions</h4>
                    <div class="mt-3">
                        <form action="{{ path('app_admin_cache_clean') }}" method="post">
                            <button class="btn btn-small btn-danger"><i class="fas fa-trash mr-1"></i> Vider le cache</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title h4-responsive text-primary text-center mb-4">
                        <a href="https://www.mail-tester.com/" rel="noreferrer">Tester les emails</a>
                    </h4>

                    <div class="mt-3">
                        <form action="{{ path('app_admin_mailtest') }}" method="post" class="flex stretch">
                            <div class="md-form md-outline form-lg input-with-pre-icon">
                                <i class="fas fa-envelope input-prefix"></i>
                                <input type="text" placeholder="Email" name="email" id="inputEmail"
                                       class="form-control form-control-lg" required>
                                <label for="inputEmail"></label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




