<div class="row app-advert-show-info">
    <div class="col-12">
        <table class="table table-borderless table-responsive-sm">
            <tbody>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Marque</div>
                    <div class="content text-primary font-weight-stone-600">{{ advert.marque }}</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Modèle</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.model %}{{ advert.model }}{% else %}NC{% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Etat</div>
                    <div class="content text-primary font-weight-stone-600">{{ advert.autoState }}</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Année</div>
                    <div class="content text-primary font-weight-stone-600">{{ advert.autoYear }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Kilométrage</div>
                    <div class="content text-primary font-weight-stone-600">{{ advert.kilo }} Km</div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Cylindrée</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.cylindree %}{{ advert.cylindree }} Cm3{% else %}NC{% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Couleur</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.autoColor %}{{ advert.autoColor }}{% else %}NC{% endif %}
                    </div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Type de carburant</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.typeCarburant %}{{ advert.typeCarburant }}{% else %}NC{% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Sécurité et confort</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.autoSecurity %}
                            {% for data in advert.autoSecurity %}
                                {{ data }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}NC{% endif %}
                    </div>
                </td>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Elements extérieurs</div>
                    <div class="content text-primary font-weight-stone-600">
                        {% if advert.informationExterieur %}
                            {% for data in advert.informationExterieur %}
                                {{ data }} {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}NC{% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="title font-weight-stone-600 grey-text">Prix</div>
                    <div class="content text-default d-flex flex-wrap price font-weight-stone-600">
                        <div class="number">{{ advert.price }}</div>
                        <div class="">
                            <img src="{{ asset('images/devise.png') }}" class="devise" alt="">
                            {% if advert.priceStatus %}
                                <span class="font-weight-stone-500">- à débattre</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
