{% import 'Ui/Macro/buttons.html.twig' as buttons %}

{% if settings.activeCardPayment %}
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body px-4">
                    <h2 class="h2-responsive text-primary text-center font-weight-stone-600 pb-1">
                        Acheter des crédits
                    </h2>

                    <div class="my-4 text-center">
                        {{ form_start(form) }}
                        <h5 class="text-default font-weight-stone-500">Pré-chargez votre compte et facilitez vos futurs achats</h5>
                        <p class="dark-grey-text">
                            Maitrisez votre budget et gagnez du temps: payez vos options d'annonces
                            facilement grace aux crédit !
                        </p>

                        <div class="form-row app-credit-bulk mt-5 ">
                            {% for product in products %}
                                <div class="col-12 col-md-4 col-lg-3 mb-3">
                                    <div class="credit text-center px-0 card card-body py-0">
                                        <div class="form-check px-0 d-inline-block mx-0">
                                            <input type="radio" class="form-check-input with-gap" id="credit{{ product.id }}"
                                                   value="{{ product.id }}" name="credit"/>
                                            <label class="form-check-label price pl-4" for="credit{{ product.id }}">
                                                <div class="number d-inline-block">{{ product.price }}<span>CFA</span></div>
                                            </label>
                                        </div>
                                        {% if product.credit %}
                                            <div class="offre text-center mx-0">
                                                <div class="price-small d-flex justify-content-center">
                                                    + <div class="number d-inline-block">{{ product.credit }}<span class="small-9" style="margin-left: 2px;">CFA</span></div>
                                                </div>
                                                <div class="text small-8 font-weight-stone-500">offerts</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">Les montants sont affichés et crédités en TTC</div>
                        {{ form_row(form.credit) }}
                        {{ form_widget(form._token) }}

                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" disabled>
                                Valider
                            </button>
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="font-weight-stone-500 text-center text-danger mt-2 mb-5">
        <div>
            Notre module de paiement est indisponible pour le moment.
            Pour recharger votre compte, contactez nous au numéro indiquez:
        </div>
        <div class="font-weight-stone-600 text-primary my-5 p-4 display-4
                border border-primary d-none d-md-inline-block" style="border-width: 6px !important">
            {{ settings.phone }}
        </div>
        <div class="font-weight-stone-600 text-primary my-5 p-2
                border border-primary d-inline-block d-md-none"
             style="border-width: 3px !important; font-size: 1.6rem;">
            {{ settings.phone }}
        </div>
    </div>
{% endif %}


