{% import 'Ui/Macro/buttons.html.twig' as buttons %}

<div class="row mb-5">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div class="d-flex">
            <div class="mr-3 d-none entity-advert-delete-bulk-btn entity-list-delete-bulk-btn">
                {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
            </div>
        </div>
    </div>
</div>

{% if adverts|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox" style="padding-left: 0!important;"></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Reference</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Titre</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Catégories</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Ville</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Annonceur</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Prix (CFA)</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for advert in adverts %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ advert.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center small-8 font-weight-stone-500">{{ advert.reference }}</td>
                        <td class="text-center">{{ advert.title }}</td>
                        <td class="text-center">
                            {% if advert.subDivision %}
                                {{ advert.subDivision }}
                            {% else %}
                                {{ advert.subCategory }}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ advert.location.name }}</td>
                        <td class="text-center">
                            <a href="{{ path('app_admin_user_show', {'id': advert.user.id, 'type': 2}) }}"
                               class="link font-weight-stone-500">@{{ advert.user.username }}</a>
                        </td>
                        <td class="text-center font-weight-stone-500 text-default">{{ advert.price }}</td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_user_advert_show', {'id': advert.id}) }}" class="dropdown-item">
                                        <i class="fas fa-eye mr-1"></i> Voir
                                    </a>

                                    <a class="dropdown-item entity-advert-delete" id="{{ advert.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ adverts.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2">
            {{ knp_pagination_render(adverts, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="text-primary h3-responsive font-weight-stone-600">
                Utilisateur {{ user.firstName }} n'a aucune annonce.
            </h3>
        </div>
    </div>
{% endif %}
