<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-12">
        <div class="form-row">
            <div class="col-12 col-md-6">
                {{ form_row(form.reference) }}
            </div>
            <div class="col-12 col-md-6">
                <div class="d-flex flex-wrap">
                    <div class="select-outline position-relative w-100">
                        {{ form_widget(form.type) }}
                        <label>{{ form.type.vars.label }}</label>
                    </div>
                    <div style="margin-top: -15px;" class="red-text font-weight-stone-500">{{ form_errors(form.type) }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="margin-top: -20px !important;">
                <div class="d-flex flex-wrap">
                    <div class="select-outline position-relative w-100">
                        {{ form_widget(form.category) }}
                        <label>{{ form.category.vars.label }}</label>
                    </div>
                    <div style="margin-top: -15px;" class="red-text font-weight-stone-500">{{ form_errors(form.category) }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="margin-top: -20px !important;">
                <div class="d-flex flex-wrap">
                    <div class="select-outline position-relative w-100">
                        {{ form_widget(form.subCategory) }}
                        <label>{{ form.subCategory.vars.label }}</label>
                    </div>
                    <div style="margin-top: -15px;" class="red-text font-weight-stone-500">{{ form_errors(form.subCategory) }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="margin-top: -20px !important;">
                <div class="d-flex flex-wrap">
                    <div class="select-outline position-relative w-100">
                        {{ form_widget(form.subDivision) }}
                        <label>{{ form.subDivision.vars.label }}</label>
                    </div>
                    <div style="margin-top: -15px;" class="red-text font-weight-stone-500">{{ form_errors(form.subDivision) }}</div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="margin-top: -20px !important;">
                <div class="d-flex flex-wrap">
                    <div class="select-outline position-relative w-100">
                        {{ form_widget(form.city) }}
                        <label>{{ form.city.vars.label }}</label>
                    </div>
                    <div style="margin-top: -15px;" class="red-text font-weight-stone-500">{{ form_errors(form.city) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>




