{% extends 'site/layout.html.twig' %}

{% block title %}Mes notifications | {{ settings.name }}{% endblock %}

{% block app_cart %}{% endblock %}
{% block app_mobile_cart %}{% endblock %}

{% block app_navbar_second %}
    {% if is_mobile() %}
        <div class="jumbotron mobile color-primary d-block d-lg-none">
            <div class="d-flex align-items-center h-100">
                <div class="container text-center mx-3">
                    {% block app_mobile_search_form %}
                        {{ render(controller('App\\Controller\\SearchController::indexM')) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block app_breadcrumbs %}
    <div class="pt-md-0 mt-page-n">
        {{ breadcrumb('Mes notifications') }}
        {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
            itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
    </div>
{% endblock %}

{% block app_body %}
    <div class="row mb-4">
        <div class="col-12">
            <section class="">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 text-center">
                            <h2 class="h2-responsive font-weight-stone-600 text-primary mb-4">Mes notifications</h2>
                        </div>

                        <div class="col-12 text-center mb-5">
                            {% if notifications|length > 0 %}
                                <table class="table table-responsive-sm">
                                    <thead class="text-primary">
                                    <tr>
                                        <th scope="col" class="font-weight-stone-500 text-center">Date</th>
                                        <th scope="col" class="font-weight-stone-500 text-center">Sujet</th>
                                        <th scope="col" class="font-weight-stone-500 text-center">Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for notification in notifications %}
                                            <tr>
                                                <td class="text-center">{{ notification.createdAt|date('d/m/Y') }}</td>
                                                <td class="text-center">{{ notification.message|raw }}</td>
                                                <td class="text-center py-2">
                                                    {% if notification.url|length %}
                                                        <a href="{{ notification.url }}"
                                                           class="btn btn-sm btn-default">
                                                            Afficher
                                                        </a>
                                                    {% else %}Information{% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="h3-responsive font-weight-stone-600 my-5">
                                    Aucune nouvelle notification.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



