<p>
    <a href="" class="footer-link" data-toggle="modal" data-target="#modalSuggestion">Vos suggestions</a>
</p>

{% form_theme form 'Ui/Form/theme.html.twig' %}

<div class="modal fade right" id="modalSuggestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-notify modal-amber" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading">Proposez une idée</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-1">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-suggestion'}}) }}
                <P class="text-danger my-0">{{ form_errors(form) }}</P>

                <div class="form-row">
                    <div class="col-12">
                        {{ form_row(form.subject) }}
                        <small class="form-text text-muted" style="margin-top: -4px">
                            Ce champ est obligatoire
                        </small>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.name) }}
                        <small class="form-text text-muted" style="margin-top: -4px">
                            Ce champ est obligatoire
                        </small>
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form_row(form.email) }}
                        <small class="form-text text-muted" style="margin-top: -4px">
                            Ce champ est obligatoire
                        </small>
                    </div>
                    <div class="col-12">
                        <div class="md-form md-outline">
                            {{ form_widget(form.description) }}
                            {{ form_label(form.description) }}
                            <div class="red-text font-weight-stone-500">{{ form_errors(form.description) }}</div>
                        </div>
                        <small class="form-text text-muted" style="margin-top: -19px">
                            Ce champ est obligatoire
                        </small>
                    </div>
                    <div class="col-12">
                        {{ form_row(form.recaptchaToken) }}
                    </div>

                    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}"/>
                </div>

                {{ form_widget(form._token) }}

                <div class="d-flex justify-content-center mt-3">
                    <div class="text-center">
                        <button type="submit" class="btn btn-amber">Envoyer <i class="fas fa-paper-plane ml-1"></i></button>
                    </div>
                </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>