{% extends 'site/layout.html.twig' %}
{# pixel facebook ici #}

{% block title 'Acheter et vendre sur le site de petites annonces pour particuliers et pros' %}
 
{% block meta %}
    {% set content = "O'blackmarket: petites annonces en Côte d'Ivoire. Achetez un véhicule, trouvez un emploi, une maison ou un appartement, des meubles, appareils électroménagers et plus !" %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %} 

{% block app_cart %}{% endblock %}

{% block app_body %}
    <section class="row mt-lg-3 pt-lg-1 mb-5 pr-lg-3 mt-page-n">
        <div class="col-12">
            {# Pub #}
            {{ render(controller('App\\Controller\\PubController::index', {'type': 2})) }}
            {# Pub #}
        </div>
        <section class="col-12">
            <div class="font-weight-stone-500 text-center small-9 mb-3 d-block d-lg-none">
                Trouvez la bonne affaire parmi des milliers de petites annonces
                <span class="text-primary font-weight-bold">{{ settings.name }}</span>.
            </div>
            <div class="text-center mb-4 d-block d-md-none">
                <a href="{{ path('app_advert_category') }}" class="btn btn-block btn-sm btn-primary">
                    Déposer une annonce <i class="fas fa-sign-in-alt ml-2"></i>
                </a>
            </div>
            <div class="text-center mb-4 d-none d-md-block d-lg-none">
                <a href="{{ path('app_advert_category') }}" class="btn btn-primary">
                    Déposer une annonce <i class="fas fa-sign-in-alt ml-2"></i>
                </a>
            </div>

            <h3 class="h3-responsive font-weight-bold text-center mb-3 d-none d-lg-block">
                Trouvez la bonne affaire parmi des milliers de petites annonces
                <span class="text-primary font-weight-bold">{{ settings.name }}</span>.
            </h3>
            <div class="text-center mb-4 d-none d-lg-block">
                <a href="{{ path('app_advert_category') }}" class="btn btn-lg btn-primary">
                    Déposer une annonce <i class="fas fa-sign-in-alt ml-2"></i>
                </a>
            </div>
        </section>
        <div class="col-12">
            {{ render(controller('App\\Controller\\OptionController::gallery')) }}
        </div>
        <div class="col-lg-9 col-md-8 col-12 mt-3">
            {{ render(controller('App\\Controller\\CategoryPremiumController::premium')) }}
        </div>
        <div class="col-lg-3 col-md-4 col-12 mt-4">
            {# Pub #}
            {{ render(controller('App\\Controller\\PubController::index', {'type': 1})) }}
            {# Pub #}
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'Ui/_stylesheets.html.twig' with {'path': 'assets/css/site/index.css'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
