{% macro list(advert, settings, photo, headers, vedettes, encadres, urgents, gallery) %}
    {% set photo_principale = app_advert_photo(advert.images) %}

    {% if advert.subDivision|length > 0 %}
        {% set route = path('app_advert_show', {'category_slug': advert.category.slug, 'sub_category_slug': advert.subCategory.slug,
            'sub_division_slug': advert.subDivision.slug, 'city': advert.location.name,
            'reference': advert.reference, 'slug': advert.slug}) %}
    {% else %}
        {% set route = path('app_advert_show_s', {'category_slug': advert.category.slug, 'sub_category_slug': advert.subCategory.slug,
            'city': advert.location.name, 'reference': advert.reference, 'slug': advert.slug}) %}
    {% endif %}

<div id="advert_{{ advert.id }}" class="card app-user-advert-block mb-4">
    <div class="row no-gutters">
        <div class="col-6 col-md-4 pr-md-4">
            {% if photo_principale %}
                <img src="{{ asset(photo_principale.webPath) }}" class="img-fluid advert-image" alt="{{ photo_principale.name }}" />
            {% else %}
                <img src="{{ asset('images/no_image.png') }}" class="img-fluid" alt="" />
            {% endif %}
        </div>
        <div class="col-6 col-md-8">
            {# Petit telephone #}
            <div class="card-body pb-0 pt-2 px-1 d-block d-md-none">
                <div class="font-weight-stone-600 price d-flex justify-content-center text-default
                        border border-default text-center mx-1 mb-2"
                     style="border-width: 1.6px !important; border-top-right-radius: 20px !important">
                    <div class="number d-inline-block">{{ advert.price }}</div>
                    <img src="{{ asset('images/devise.png') }}" class="devise d-inline-block" alt="devise">
                </div>
                <div class="text-muted font-weight-stone-500 location mx-1">
                    <div class="my-1">
                        <i class="fas fa-map-marker-alt text-primary"></i> {{ advert.location.name }}
                        {% if advert.location.detail %}({{ advert.location.detail }}){% endif %}
                    </div>
                    {% if advert.validatedAt %}
                        <div class="mt-2">
                            <i class="far fa-clock text-primary"></i> {{ advert.validatedAt|ago }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {# Petit telephone #}
            <div class="card-body px-2 pl-md-0 pr-md-3 pt-2 pb-0 d-none d-md-block">
                <div class="d-flex">
                    <h6 class="font-weight-stone-600 text-primary title">
                        {{ advert.title|u.truncate(28) }}
                    </h6>
                    <div class="ml-auto font-weight-stone-600 d-flex price text-default">
                        {% if advert.price == 0 %}
                            Sur demande
                        {% else %}
                            <div class="number">{{ advert.price }}</div><img src="{{ asset('images/devise.png') }}" class="devise" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="blue-grey-text font-weight-stone-600 small location">
                    <i class="fas fa-map-marker-alt mr-1"></i> {{ advert.location.name }}
                    {% if advert.location.detail %}(<span class="px-1 mb-0">{{ advert.location.detail }}</span>){% endif %}

                    {% if advert.validatedAt %}
                        | <i class="far fa-clock mx-1"></i> {{ advert.validatedAt|ago }}
                    {% endif %}
                </div>
                <div class="text-secondary font-weight-stone-500 mt-2 small">
                    {{ advert.category }} <i class="fas fa-angle-right ml-1"></i>
                    {{ advert.subCategory }}
                    {% if advert.subDivision %}
                        <i class="fas fa-angle-right ml-1"></i> {{ advert.subDivision }}
                    {% endif %}
                </div>
                <p class="content grey-text font-weight-stone-500 mt-2">
                    {{ advert.description|u.truncate(200) }}
                </p>
            </div>
        </div>
        <div class="col-12 pr-md-3 info {% if not advert.shop|length > 0 %}user{% endif %}">
            {# Petit telephone #}
            <div class="d-block d-md-none px-2">
                <div class="small-8 font-weight-stone-600 text-primary mt-3">{{ advert.title|u.truncate(40, '...') }}</div>
                <div class="text-default font-weight-stone-600 mt-2 small-8">
                    {{ advert.category }} <i class="fas fa-angle-right"></i>
                    {{ advert.subCategory }}
                    {% if advert.subDivision %}
                        <i class="fas fa-angle-right"></i> {{ advert.subDivision }}
                    {% endif %}
                </div>
                <p class="content grey-text font-weight-stone-500 small my-2">
                    {{ advert.description|u.truncate(92) }}
                </p>
                <div class="d-flex justify-content-between pb-2">
                    {#  {% include 'user/advert/details/button_sm.html.twig' %}#}

                    {{ _self.btn_sm(advert, route, settings, photo, headers, vedettes, encadres, urgents, gallery) }}
                </div>
            </div>
            {# Petit telephone #}
            <div class="d-none d-md-flex justify-content-end mb-3 mx-2">
                {#  {% include 'user/advert/details/button.html.twig' %}#}

                {{ _self.btn(advert, route, settings, photo, headers, vedettes, encadres, urgents, gallery) }}
            </div>
        </div>
    </div>
</div>

    {{ _self.gallery(advert, settings, gallery) }}
    {{ _self.vedette(advert, settings, encadres) }}
    {{ _self.photo(advert, settings, photo) }}
    {{ _self.encadre(advert, settings,encadres) }}
    {{ _self.header(advert, settings, headers) }}
    {{ _self.urgent(advert, settings, urgents) }}
    {{ _self.vedette(advert, settings, vedettes) }}


    {#
   {% if photo %}
        {% include 'user/advert/option/_photo.html.twig' with {'data': advert} %}
    {% endif %}

    {% if headers|length > 0 %}
        {% include 'user/advert/option/_header.html.twig' with {'data': advert} %}
    {% endif %}

    {% if urgents|length > 0 %}
        {% include 'user/advert/option/_urgent.html.twig' with {'data': advert} %}
    {% endif %}

    {% if headers|length > 0 %}
        {% include 'user/advert/option/_vedette.html.twig' with {'data': advert} %}
    {% endif %}

    {% if gallery|length > 0 %}
        {% include 'user/advert/option/_gallery.html.twig' with {'data': advert} %}
    {% endif %}

    {% if encadres|length > 0 %}
        {% include 'user/advert/option/_encadre.html.twig' with {'data': advert} %}
    {% endif %}
    #}
{% endmacro %}


{% macro btn(advert, route, settings, photo, headers, vedettes, encadres, urgents, gallery) %}
    {% if advert.validated %}
        <div class="ml-3">
            <div class="dropdown">
                <button class="btn btn-grey btn-sm dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Stats <i class="far fa-chart-bar ml-1"></i>
                </button>
                <div class="dropdown-menu menu dropdown-grey" aria-labelledby="dropdownMenu3">
                    <h6 class="dropdown-header">Statistiques</h6>
                    <span class="dropdown-item">
                        <i class="fas fa-eye mr-2"></i> Vues
                        <span class="badge badge-pill badge-grey ml-2">{{ advert.reads|length }}</span>
                    </span>
                    {% if settings.activeAdFavorite %}
                        <span class="dropdown-item">
                            <i class="far fa-heart mr-2"></i> Favoris
                            <span class="badge badge-pill badge-grey ml-2">{{ advert.favorites|length }}</span>
                        </span>
                    {% endif %}

                    {% if settings.activeMessage %}
                        <span class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> Message
                            <span class="badge badge-pill badge-grey ml-2">{{ advert.messageCount }}</span>
                        </span>
                    {% endif %}

                    <span class="dropdown-item">
                        <i class="fas fa-camera-retro mr-2"></i> Photos
                        <span class="badge badge-pill badge-grey ml-2">{{ advert.images|length }}</span>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ml-3">
        <div class="dropdown">
            <button class="btn btn-deep-purple btn-sm dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Options <i class="far fa-gem ml-1"></i>
            </button>
            <div class="dropdown-menu menu dropdown-deep-purple" aria-labelledby="dropdownMenu3">
                <h6 class="dropdown-header">Gestion des options</h6>

                {% if photo %}
                    <a class="dropdown-item" data-toggle="modal" data-target="#adOptionPhoto_{{ advert.id }}" href="#">
                        <i class="fas fa-camera mr-2"></i>
                        Option photo
                        {% if advert.optionPhoto %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if headers|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ headers[0].type }}_{{ advert.id }}" href="">
                        <i class="fas fa-sort-numeric-up mr-2"></i>
                        Annonce en tete
                        {% if advert.optionAdHead %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if gallery|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ gallery[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-house-damage mr-2"></i>
                        Galerie accueil
                        {% if advert.optionAdGallery %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if vedettes|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ vedettes[0].type }}_{{ advert.id }}" href="#">
                        <i class="far fa-minus-square mr-2"></i>
                        Annonce en vedette
                        {% if advert.optionAdVedette %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if urgents|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ urgents[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-bullhorn mr-2"></i>
                        Logo urgent
                        {% if advert.optionAdUrgents %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if encadres|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ encadres[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-border-style mr-2"></i>
                        Annonce encadrée
                        {% if advert.optionAdEncadre %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ml-3">
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Gestion <i class="fas fa-cogs ml-1"></i>
            </button>
            <div class="dropdown-menu menu dropdown-primary" aria-labelledby="dropdownMenu4">
                {% if advert.subDivision|length > 0 %}
                    {% set param = {'category_slug': advert.category.slug, 'c': advert.subCategory.slug, 'sc': advert.subDivision.slug, 'id': advert.id} %}
                {% elseif advert.subCategory|length > 0 %}
                    {% set param = {'category_slug': advert.category.slug, 'c': advert.subCategory.slug, 'id': advert.id} %}
                {% else %}
                    {% set param = {'category_slug': advert.category.slug, 'id': advert.id} %}
                {% endif %}

                <h6 class="dropdown-header">Gestion de l'annonce</h6>
                {% if advert.validated %}
                    <a class="dropdown-item" href="{{ route }}">
                        <i class="fas fa-eye mr-1"></i> Voir
                    </a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('app_dashboard_advert_edit', param) }}">
                    <i class="fas fa-pen mr-1"></i> Modifier
                </a>
                <a class="dropdown-item" href="{{ path('app_dashboard_advert_image_add', {'id': advert.id}) }}">
                    <i class="fas fa-file-image mr-1"></i> Modifier les photos
                </a>
                <a data-id="{{ advert.id }}" class="dropdown-item app-user-advert-delete">
                    <i class="fas fa-trash mr-1"></i> Supprimer
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro btn_sm(advert, route, settings, photo, headers, vedettes, encadres, urgents, gallery) %}
    {% if advert.validated %}
        <div>
            <div class="dropdown">
                <button class="btn btn-grey btn-sm dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-chart-bar ml-1"></i>
                </button>
                <div class="dropdown-menu dropdown-grey" aria-labelledby="dropdownMenu3">
                    <h6 class="dropdown-header">Statistiques</h6>
                    <span class="dropdown-item">
                        <i class="fas fa-eye mr-2"></i> Vues
                        <span class="badge badge-pill badge-grey ml-2">{{ advert.reads|length }}</span>
                    </span>
                    {% if settings.activeAdFavorite %}
                        <span class="dropdown-item">
                            <i class="fas fa-heart mr-2"></i> Favoris
                            <span class="badge badge-pill badge-grey ml-2">{{ advert.favorites|length }}</span>
                        </span>
                    {% endif %}

                    {% if settings.activeMessage %}
                        <span class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> Messages
                            <span class="badge badge-pill badge-grey ml-2">{{ advert.messageCount }}</span>
                        </span>
                    {% endif %}

                    <span class="dropdown-item">
                        <i class="fas fa-camera-retro mr-2"></i> Photos
                        <span class="badge badge-pill badge-grey ml-2">{{ advert.images|length }}</span>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ml-3">
        <div class="dropdown">
            <button class="btn btn-deep-purple btn-sm dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="far fa-gem ml-1"></i>
            </button>
            <div class="dropdown-menu dropdown-deep-purple" aria-labelledby="dropdownMenu3">
                <h6 class="dropdown-header">Gestion des options</h6>

                {% if photo %}
                    <a class="dropdown-item" data-toggle="modal" data-target="#adOptionPhoto_{{ advert.id }}" href="#">
                        <i class="fas fa-camera mr-2"></i>
                        Option photo
                        {% if advert.optionPhoto %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if headers|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ headers[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-sort-numeric-up mr-2"></i>
                        Annonce en tete
                        {% if advert.optionAdHead %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if gallery|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ gallery[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-house-damage mr-2"></i>
                        Galerie accueil
                        {% if advert.optionAdGallery %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if vedettes|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ vedettes[0].type }}_{{ advert.id }}" href="#">
                        <i class="far fa-minus-square mr-2"></i>
                        Annonce en vedette
                        {% if advert.optionAdVedette %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if urgents|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ urgents[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-bullhorn mr-2"></i>
                        Logo urgent
                        {% if advert.optionAdUrgents %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}

                {% if encadres|length > 0 %}
                    <a class="dropdown-item"
                       data-toggle="modal" data-target="#adOptionDetail{{ encadres[0].type }}_{{ advert.id }}" href="#">
                        <i class="fas fa-border-style mr-2"></i>
                        Annonce encadrée
                        {% if advert.optionAdEncadre %}<i class="fas fa-check text-success ml-1"></i>{% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ml-3">
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cogs ml-1"></i>
            </button>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="dropdownMenu4">
                {% if advert.subDivision|length > 0 %}
                    {% set param = {'category_slug': advert.category.slug, 'c': advert.subCategory.slug, 'sc': advert.subDivision.slug, 'id': advert.id} %}
                {% elseif advert.subCategory|length > 0 %}
                    {% set param = {'category_slug': advert.category.slug, 'c': advert.subCategory.slug, 'id': advert.id} %}
                {% else %}
                    {% set param = {'category_slug': advert.category.slug, 'id': advert.id} %}
                {% endif %}

                <h6 class="dropdown-header">Gestion de l'annonce</h6>
                {% if advert.validated %}
                    <a class="dropdown-item" href="{{ route }}">
                        <i class="fas fa-eye mr-1"></i> Voir
                    </a>
                {% endif %}
                <a class="dropdown-item" href="{{ path('app_dashboard_advert_edit', param) }}">
                    <i class="fas fa-pen mr-1"></i> Modifier
                </a>
                <a class="dropdown-item" href="{{ path('app_dashboard_advert_image_add', {'id': advert.id}) }}">
                    <i class="fas fa-file-image mr-1"></i> Modifier les photos
                </a>
                <a data-id="{{ advert.id }}" class="dropdown-item app-user-advert-delete">
                    <i class="fas fa-trash mr-1"></i> Supprimer
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro gallery(advert, settings, gallery) %}
    {% if gallery|length > 0 %}
        <div class="modal fade right" id="adOptionDetail{{ gallery[0].type }}_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Galerie de la page d'accueil</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <div id="option-data" class="modal-body">

                        {% if advert.optionAdGallery %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">galerie de la page d'accueil</span>
                                est deja active sur cette annonce.<br>
                                Expiration: <span class="amber-text font-weight-stone-600">{{ advert.optionAdGalleryEnd|date('d/m/Y') }}</span>.
                            </div>
                            <div class="text-grey small font-weight-stone-600 mb-3">
                                Pour prolonger la durée de l'option, veuillez acheter une nouvelle offre de l'option. <br>
                                La nouvelle durée sera ajouter à la durée actuelle.
                            </div>
                        {% endif %}
                        <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                        {% for gal in gallery %}
                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ gal.id }}_{{ advert.id }}"
                                           value="{{ gal.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ gal.id }}_{{ advert.id }}">
                                    <span style="position: relative !important; left: -12px !important;
                                                bottom: 2px !important; line-height: normal !important">
                                        <span class="font-weight-stone-500">Galerie de la page d'accueil</span> pendant
                                        <span class="font-weight-stone-500 text-default" >{{ gal.days }} jours</span> à
                                        <span class="font-weight-stone-600 text-default h5-responsive">{{ gal.price }}<span class="pl-1
                                                small-8 font-weight-stone-600">CFA</span></span>.
                                    </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                Valider <i class="fas fa-paper-plane ml-2"></i>
                            </a>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-5">
                            <img src="{{ asset('images/option/3.png') }}" alt="" class="img-fluid z-depth-3" />
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary">Votre annonce pourra être vue des milliers de fois par jour</h4>
                        <p class="grey-text">
                            L’option <span class="text-default font-weight-stone-500">galerie de la page d'accueil</span>
                            publie une deuxième copie de votre annonce sur la page d’accueil, vous aidant ainsi à atteindre
                            le plus grand nombre d’acheteurs dans votre communauté.
                        </p>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>La page d’accueil est vue par tous les acheteurs, pas uniquement ceux d’une catégorie spécifique</li>
                                <li>Deux emplacements garantissent une meilleure visibilité, et jusqu’à 3 plus de vues qu’une annonce classique</li>
                                <li>Idéal pour promouvoir de multiples produits dans une même annonce</li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Vous apparaissez en page d’accueil - votre annonce sera la star de {{ settings.name }}</li>
                                <li>Vous attirez les acheteurs pressés</li>
                                <li>
                                    Les annonces sur la page d’accueil ont les photos les plus vues sur l’ensemble du site
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                        <div class="">
                            <ul class="list-unstyled grey-text font-weight-stone-500">
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Votre annonce apparaît dans le haut de la page d’accueil de {{ settings.name }},
                                    pour un maximum de visibilité.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    La <span class="text-default font-weight-stone-500">galerie de la page d’accueil</span> ne
                                    change pas la position de votre annonce parmi le classement des annonces de sa catégorie.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    La <span class="text-default font-weight-stone-500">galerie de la page d’accueil</span>
                                    peut afficher jusqu’à seize annonces à la fois. Pour en voir plus, il suffit de
                                    rafraîchir la page ou cliquer sur la flèche à droite des annonces pour en voir d’autres.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Attirez les acheteurs potentiels dès qu’ils arrivent sur le site.
                                </li>
                                <li class="mb-2">
                                    Avec des milliers de vues tirées de la page d’accueil en plus des vues tirées de
                                    l’emplacement habituel de votre annonce, vous êtes assurés d’avoir plus de réponses
                                    de la part d’acheteurs potentiels qu’avec une annonce standard.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro encadre(advert, settings, encadres) %}
    {% if encadres|length > 0 %}
        <div class="modal fade right" id="adOptionDetail{{ encadres[0].type }}_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Annonce encadrée</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <div id="option-data" class="modal-body">
                        {% if advert.optionAdEncadre %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">annonce encadrée</span>
                                est deja active sur cette annonce.<br>
                                Expiration: <span class="amber-text font-weight-stone-600">{{ advert.optionAdEncadreEnd|date('d/m/Y') }}</span>.
                            </div>
                            <div class="text-grey small font-weight-stone-600 mb-3">
                                Pour prolonger la durée de l'option, veuillez acheter une nouvelle offre de l'option. <br>
                                La nouvelle durée sera ajouter à la durée actuelle.
                            </div>
                        {% endif %}

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                        {% for encadre in encadres %}
                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ encadre.id }}_{{ advert.id }}"
                                           value="{{ encadre.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ encadre.id }}_{{ advert.id }}">
                                <span style="position: relative !important; left: -12px !important;
                                            bottom: 3px !important; line-height: normal !important">
                                    <span class="font-weight-stone-500">Annonce encadrée</span> pendant
                                    <span class="font-weight-stone-500 text-default" >{{ encadre.days }} jours</span> à
                                    <span class="font-weight-stone-600 text-default h5-responsive">{{ encadre.price }}<span class="pl-1
                                            small-8 font-weight-stone-600">CFA</span></span>.
                                </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                Valider <i class="fas fa-paper-plane ml-2"></i>
                            </a>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-5">
                            <img src="{{ asset('images/option/5.png') }}" alt="" class="img-fluid z-depth-3" />
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary">Sortez du lot</h4>
                        <p class="grey-text">
                            L’option <span class="text-default font-weight-stone-500">annonce encadrée</span> affiche
                            votre annonce sur un arrière-plan jaune vif qui lui permet de se démarquer dans les résultats
                            de recherche et d’obtenir plus de vues et de réponses qu’une annonce classique.
                        </p>

                        <h4 class="h4-responsive text-primary mt-4">Pourquoi choisir cette option</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Pour attirer l’attention des acheteurs</li>
                                <li>Pour vendre plus rapidement</li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Votre annonce se démarque dans les résultats de recherche de sa catégorie</li>
                                <li>Votre annonce obtient plus de visites et de réponses</li>
                                <li>
                                    Pour de meilleurs résultats, ajoutez l’option
                                    <span class="text-default font-weight-stone-500">annonce encadrée</span>
                                    dès que vous publiez votre annonce
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                        <div class="">
                            <ul class="list-unstyled grey-text font-weight-stone-500">
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Cette option affiche votre annonce avec un arrière-plan jaune dans les résultats
                                    de recherche et lui offre un maximum de visibilité.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Elle ne ne change pas la position de votre annonce dans le classement d’une catégorie.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Avec plus de vues, vous avez de meilleures chances de vendre vos produits.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Grâce à leur couleur bleue distinctive, les annonces encadrée attirent
                                    jusqu’a 2 fois plus de vues et de réponses par rapport aux annonces classique.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro header(advert, settings, headers) %}
    {% if headers|length > 0 %}
        <div class="modal fade right" id="adOptionDetail{{ headers[0].type }}_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Annonce en tête de liste</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>
                    <div id="option-data" class="modal-body">
                        {% if advert.optionAdHead %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">annonce en tête de liste</span>
                                est deja active sur cette annonce.<br>
                                Expiration: <span class="amber-text font-weight-stone-600">{{ advert.optionAdHeadEnd|date('d/m/Y') }}</span>.
                            </div>
                            <div class="text-grey small font-weight-stone-600 mb-3">
                                Pour prolonger la durée de l'option, veuillez acheter une nouvelle offre de l'option. <br>
                                La nouvelle durée sera ajouter à la durée actuelle.
                            </div>
                        {% endif %}

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                        {% for header in headers %}
                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ header.id }}_{{ advert.id }}"
                                           value="{{ header.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ header.id }}_{{ advert.id }}">
                                        <span style="position: relative !important; left: -12px !important;
                                                    bottom: 2px !important; line-height: normal !important">
                                            <span class="font-weight-stone-500">Annonce en tête de liste</span> pendant
                                            <span class="font-weight-stone-500 text-default" >{{ header.days }} jours</span> à
                                            <span class="font-weight-stone-600 text-default h5-responsive">{{ header.price }}<span class="pl-1
                                                    small-8 font-weight-stone-600">CFA</span></span>.
                                        </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                Valider <i class="fas fa-paper-plane ml-2"></i>
                            </a>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-5">
                            <img src="{{ asset('images/option/1.png') }}" alt="" class="img-fluid z-depth-3" />
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary">Replacez votre annonce en tête de liste</h4>
                        <p class="grey-text">
                            L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                            replace votre annonce en tête de liste. Cette option vous donne l’avantage ultime.
                            Vous gardez une longueur d’avance sur les autres vendeurs et relancez l’intérêt
                            porté à votre annonce.
                        </p>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>
                                    Vous avez reçu des réponses qui n’ont pas résulté en ventes ?
                                    L'<span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    vous donne la visibilité supplémentaire pour attirer les acheteurs intéressés.
                                </li>
                                <li>
                                    Les annonces sont automatiquement republiées, vous n’avez donc pas à les créer
                                    à nouveau - c’est du temps de gagné et un souci en moins.
                                </li>
                                <li>
                                    L'<span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    peut coûter moins cher que l’option <span class="text-default">annonce en vedette</span>
                                    selon l’offre que vous choisissez.
                                </li>
                                <li>
                                    Les annonces obtiennent généralement 45% de leurs vues durant les trois premiers
                                    jours de publication. En replaçant la vôtre au sommet de sa catégorie, l’option
                                    <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    permet de recréer cette dynamique et d’augmenter le nombre de vues.
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Renvoyez en tête de liste plusieurs annonces au lieu de les republier une par une</li>
                                <li>
                                    Le meilleur moment pour places votre annonce en tête de liste se situe à mi-chemin
                                    entre la publication de votre annonce et sa date d’expiration
                                </li>
                                <li>
                                    Si vous supprimez et republiez votre annonce, vous perdez des vues affichées
                                    sur votre compteur. L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    donne un coup de pouce à votre annonce tout en gardant votre compteur de vues (et votre crédibilité) intacts
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                        <div class="">
                            <ul class="list-unstyled grey-text font-weight-stone-500">
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    replace votre annonce en tête de liste dans les annonces classiques de sa catégorie et
                                    dans toutes les recherches pertinentes.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Votre annonce restera à cet endroit jusqu'à ce qu'une autre annonce soit mise en
                                    haut de la liste.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    est offerte dans toutes les catégories.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Une annonce tend à obtenir plus de 45% de ses vues durant les trois premiers jours
                                    de publication. L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span>
                                    vous permet de recréer cette dynamique et de générer plus de vues pendant une plus longue période de temps.
                                </li>
                                <li class="mb-2">
                                    Quand vous renvoyez votre annonce en tête de liste, vous conservez le nombre de visites de
                                    votre compteur et par conséquent le niveau d’intérêt suscité par votre annonce.
                                </li>
                                <li class="mb-2">
                                    L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span> changera la
                                    date de mise en ligne de votre annonce, mais elle ne prolongera pas sa durée.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro urgent(advert, settings, urgents) %}
    {% if urgents|length > 0 %}
        <div class="modal fade right" id="adOptionDetail{{ urgents[0].type }}_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Logo urgent</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <div id="option-data" class="modal-body">

                        {% if advert.optionAdUrgents %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">logo urgent</span>
                                est deja active sur cette annonce.<br>
                                Expiration: <span class="amber-text font-weight-stone-600">{{advert.optionAdUrgentsEnd|date('d/m/Y') }}</span>.
                            </div>
                            <div class="text-grey small font-weight-stone-600 mb-3">
                                Pour prolonger la durée de l'option, veuillez acheter une nouvelle offre de l'option. <br>
                                La nouvelle durée sera ajouter à la durée actuelle.
                            </div>
                        {% endif %}

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                        {% for urgent in urgents %}
                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ urgent.id }}_{{ advert.id }}"
                                           value="{{ urgent.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ urgent.id }}_{{ advert.id }}">
                                        <span style="position: relative !important; left: -12px !important;
                                                    bottom: 2px !important; line-height: normal !important">
                                            <span class="font-weight-stone-500">Logo urgent</span> pendant
                                            <span class="font-weight-stone-500 text-default" >{{ urgent.days }} jours</span> à
                                            <span class="font-weight-stone-600 text-default h5-responsive">{{ urgent.price }}<span class="pl-1
                                                    small-8 font-weight-stone-600">CFA</span></span>.
                                        </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                Valider <i class="fas fa-paper-plane ml-2"></i>
                            </a>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-5">
                            <img src="{{ asset('images/option/2.png') }}" alt="" class="img-fluid z-depth-3" />
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary">Si c’est urgent, faites-le savoir</h4>
                        <p class="grey-text">
                            L’option <span class="text-default font-weight-stone-500">logo urgent</span>
                            est idéale pour des ventes rapides. Elle ajoute un bandeau et des bordure rouge
                            à votre annonce qui permet aux acheteurs de la trouver rapidement et facilement.
                        </p>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Vendre plus rapidement</li>
                                <li>Vendre à prix réduit ou négociable</li>
                                <li>Idéal pour vendre rapidement avant un déménagement</li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Le bandeau et les bordures rouge rend votre annonce plus visible</li>
                                <li>Vous attirez les acheteurs pressés</li>
                                <li>
                                    Les annonces urgentes sont vues jusqu’à 2 fois plus souvent et obtiennent davantage
                                    de réponses que les annonces classiques
                                </li>
                                <li>
                                    Pour de meilleurs résultats, ajoutez l’option
                                    <span class="text-default font-weight-stone-500">logo urgent</span> dès que vous
                                    publiez votre annonce
                                </li>
                                <li>
                                    Les acheteurs peuvent filtrer directement les annonces
                                    <span class="text-default font-weight-stone-500">logo urgent</span> dans leur
                                    recherche pour trouver une bonne affaire ou les prix les plus flexibles
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                        <div class="">
                            <ul class="list-unstyled grey-text font-weight-stone-500">
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Le bandeau et les bordures rouge
                                    <span class="text-default font-weight-stone-500">logo urgent</span>
                                    permet à votre annonce de se démarquer du lot.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    L’option <span class="text-default font-weight-stone-500">logo urgent</span> ne change pas la
                                    position de votre annonce dans le classement d’une catégorie.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Le bandeau «Urgent» s’affiche dans les catégories Acheter et vendre, Immobilier,
                                    Emplois, Services, Rencontres et Animaux. Les annonces des catégories Autos Moto auront un bandeau «Réduit».
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Les ventes sont plus rapides grâce à une annonce qui attire les acheteurs pressés.
                                </li>
                                <li class="mb-2">
                                    Comme les acheteurs filtrent les annonces urgentes et les annonces d’articles réduits,
                                    vous recevez jusqu’à 3 fois plus de réponses pertinentes qu’avec une annonce classiques.
                                </li>
                                <li class="mb-2">
                                    L’option <span class="text-default font-weight-stone-500">annonce en tête de liste</span> changera la
                                    date de mise en ligne de votre annonce, mais elle ne prolongera pas sa durée.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro vedette(advert, settings, vedettes) %}
    {% if vedettes|length > 0 %}
        <div class="modal fade right" id="adOptionDetail{{ vedettes[0].type }}_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Annonce en vedette</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <div id="option-data" class="modal-body">
                        {% if advert.optionAdVedette %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">annonce en vedette</span>
                                est deja active sur cette annonce.<br>
                                Expiration: <span class="amber-text font-weight-stone-600">{{ advert.optionAdVedetteEnd|date('d/m/Y') }}</span>.
                            </div>
                            <div class="text-grey small font-weight-stone-600 mb-3">
                                Pour prolonger la durée de l'option, veuillez acheter une nouvelle offre de l'option. <br>
                                La nouvelle durée sera ajouter à la durée actuelle.
                            </div>
                        {% endif %}

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                        {% for vedette in vedettes %}
                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ vedette.id }}_{{ advert.id }}"
                                           value="{{ vedette.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ vedette.id }}_{{ advert.id }}">
                                        <span style="position: relative !important; left: -12px !important;
                                                    bottom: 2px !important; line-height: normal !important">
                                            <span class="font-weight-stone-500">Annonce en vedette</span> pendant
                                            <span class="font-weight-stone-500 text-default" >{{ vedette.days }} jours</span> à
                                            <span class="font-weight-stone-600 text-default h5-responsive">{{ vedette.price }}<span class="pl-1
                                                    small-8 font-weight-stone-600">CFA</span></span>.
                                        </span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center mt-3">
                            <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                Valider <i class="fas fa-paper-plane ml-2"></i>
                            </a>
                        </div>

                        <hr class="my-4">

                        <div class="text-center mb-5">
                            <img src="{{ asset('images/option/4.png') }}" alt="" class="img-fluid z-depth-3" />
                        </div>
                        <h4 class="h4-responsive font-weight-stone-600 text-primary">Votre annonce mérite une place de choix</h4>
                        <p class="grey-text">
                            Avec jusqu’à 6 fois plus vues que les annonces classique, les
                            <span class="text-default font-weight-stone-500">annonce en vedette</span>
                            sont le meilleur moyen de vous aider à vendre votre article.
                            C’est simple, plus il y a de gens qui voient votre annonce, meilleures seront
                            vos chances de faire des ventes !
                        </p>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Pourquoi choisir cette option</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Idéale pour annoncer de multiples articles en une seule annonce</li>
                                <li>Pour vendre en continu ou répéter une vente</li>
                                <li>Pour promouvoir un produit (ou un service) populaire et/ou à prix élevé</li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Avantages pour le vendeur</h4>
                        <div class="">
                            <ul class="grey-text font-weight-stone-500">
                                <li>Votre annonce sera visible à deux endroits afin d’améliorer sa visibilité</li>
                                <li>
                                    Pas besoin d’utiliser l’option <span class="text-default">annonce en tête de liste</span>
                                </li>
                                <li>
                                    Les acheteurs voient votre annonce dans les premiers résultats de leur recherche
                                </li>
                            </ul>
                        </div>

                        <h4 class="h4-responsive font-weight-stone-600 text-primary mt-4">Comment ça marche ?</h4>
                        <div class="">
                            <ul class="list-unstyled grey-text font-weight-stone-500">
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    L’annonce est affichée à deux emplacements: dans la section "En Vedette" de sa
                                    catégorie pour la durée de l’option, ainsi qu’à sa position régulière parmi les
                                    résultats de recherche.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    S’il y a plus de cinq annonces en vedette parmi les vôtres et celles d’autres
                                    vendeurs dans une même catégorie, elles apparaîtront en rotation chaque fois
                                    que la page sera chargé. Ainsi chaque annonce obtient la même visibilité !
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Cette section populaire affiche jusqu’à cinq
                                    <span class="text-default font-weight-stone-500">annonces en vedette</span> à la fois.
                                </li>
                                <li class="mb-2">
                                    <i class="fas fa-hand-point-right text-default"></i>
                                    Les <span class="text-default font-weight-stone-500">annonces en vedette</span> sont en
                                    moyenne 6 fois plus vues que les annonces classiques.
                                </li>
                                <li class="mb-2">
                                    Grâce à leur position stratégique au sein de leur catégorie,
                                    les <span class="text-default font-weight-stone-500">annonces en vedette</span> sont celles
                                    qui sont les plus vues et qui reçoivent le plus de réponses.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro photo(advert, settings, photo) %}
    {% if photo %}
        <div class="modal fade right" id="adOptionPhoto_{{ advert.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="font-weight-stone-600 h4-responsive heading lead">Photos supplémentaires</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <div id="option-data" class="modal-body">
                        {% if advert.optionPhoto %}
                            <div class="grey-text font-weight-stone-500 mb-3">
                                L'option <span class="text-default">photos supplémentaires</span>
                                est deja active sur cette annonce.<br>
                            </div>
                        {% endif %}

                        {% if not advert.optionPhoto %}
                            <h4 class="h4-responsive font-weight-stone-600 text-primary mb-3">Choisir une option</h4>

                            <div class="d-flex justify-content-between mb-2 ">
                                <div class="form-check" style="margin-left: -20px;">
                                    <input type="radio" class="form-check-input with-gap option-input" id="option{{ photo.id }}_{{ advert.id }}"
                                           value="{{ photo.id }}" name="header" />
                                    <label class="form-check-label grey-text d-inline-block" for="option{{ photo.id }}_{{ advert.id }}">
                                        <span style="position: relative !important; left: -12px !important;
                                                    bottom: 3px !important; line-height: normal !important">
                                            <span class="font-weight-stone-500">{{ photo.photoPaying }} photos supplémentaires</span> à
                                            <span class="font-weight-stone-600 text-default h5-responsive">{{ photo.price }}<span class="pl-1
                                                    small-8 font-weight-stone-600">CFA</span></span>.
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <a href="{{ path('app_cart_validate', {'id': advert.id}) }}" class="btn btn-primary disabled">
                                    Valider <i class="fas fa-paper-plane ml-2"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

